.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 105px;
    height: 105px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin:10px;
}

.filter-btn{
margin: 10px;
cursor: pointer;
}

.filter{
display: flex;
}

.rest-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  border: 1px solid grey;
}

.rest-container {
    display: flex;
    flex-wrap: wrap;
}

.rest-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.rest-logo{
  max-width: 100%;
}

.search{
    padding: 10px;
}

.shimmer-container{
display: flex;
flex-wrap: wrap;
}

.shimmer-card {
margin: 20px;
width: 200px;
height: 400px;
background-color: #f0f0f0;
}

.login{
padding: 0 20px;
cursor: pointer;
}